[submodule "sources/shiboken"]
	path = sources/shiboken
	url = https://codereview.qt-project.org/pyside/shiboken
[submodule "sources/pyside"]
	path = sources/pyside
	url = https://codereview.qt-project.org/pyside/pyside
[submodule "sources/pyside-tools"]
	path = sources/pyside-tools
	url = https://github.com/PySide/Tools.git
[submodule "sources/pyside-examples"]
	path = sources/pyside-examples
	url = https://github.com/PySide/Examples.git
